doctype html
html
  head
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/all.min.css')
  body
    script(src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.slim.min.js")
    script(src="https://cdn.bootcdn.net/ajax/libs/popper.js/2.4.4/cjs/popper.min.js")
    script(src="/javascripts/bootstrap.min.js")
    block content
