extends layout

include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapLine}

  .row
    .col-12.col-md-8
      .error= message

      app-home-list


    .col-12.col-md-4
      p.lead= sidebar
    
  block scripts
  script(src='/build/runtime.ceb5a157cfa7faae9f95.js')
  script(src='/build/polyfills.337bf95917c9415ba92b.js')
  script(src='/build/main.ab5f8d352ee0c122ec10.js')
